<!DOCTYPE html>
<html>
<head>
  <title>Usher</title>
  <%= stylesheet_link_tag    "usher/application", :media => "all" %>
  <%= javascript_include_tag "usher/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
